# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/x64/Debug
/build
/deps
/keydb
/node_modules
/undefined
/workdir
/test.js
/paths.bat
/key.p12
/dllpaths.bat
/v8-master
/key2.p12
/cacert.pem
/cakey.pem
